<html>

<body>
<div id="picplayer"
     style="position:relative;overflow:hidden;width:100%;height:100%;clear:none;border:solid 1px #ccc;">
    hehehhehehehe
</div>

<div>
    Descriptions:
    <p>hehe</p>
    <p>hehhehehe</p>
    <p>hehehhehehe</p>
</div>

<script>
    var p = $('#picplayer');
    var pics = [
        {url: 'assets/meeting.jpg', time: 50000000},
        {url: 'assets/train.jpg', time: 50000000},
        {url: 'assets/bar.jpg', time: 50000000}
    ];
    initPicPlayer(pics, p.css('width').split('px')[0], p.css('height').split('px')[0]);

    function initPicPlayer(pics, width, heigth) {
        var selectedItem;
        var selectedBtn;
        var playID;
        var selectedIndex;
        var p = $('#picplayer');
        p.text('');
        p.append('<div id="piccontent"></div>');
        var c = $('#piccontent');
        for (var i = 0; i < pics.length; i++) {
            c.append('<img id="picitem' + i + '" style="display: none;width:970px; height: 800px; z-index:' + i + '" src="' + pics[i].url + '" />');
        }

        p.append('<div id="picbtnHolder" style="position:absolute;top:' + (heigth - 25) + 'px;width:' + width + 'px;height:50px;z-index:10000;"></div>');
        var btnHolder = $('#picbtnHolder');
        btnHolder.append('<div id="picbtns" style="float:right; padding-right:1px;"></div>');
        var btns = $('#picbtns');
        for (var i = 0; i < pics.length; i++) {
            btns.append('<span id="picbtn' + i + '" style="cursor:pointer; border:solid 1px #ccc;background-color:#eee; display:inline-block; width: 100px; height:30px"> ' + (i + 1) + ' </span> ');
            $('#picbtn' + i).data('index', i);
            $('#picbtn' + i).click(
                    function (event) {
                        if (selectedItem.attr('src') == $('#picitem' + $(this).data('index')).attr('src')) {
                            return;
                        }
                        setSelectedItem($(this).data('index'));
                    }
            );
        }
        btns.append(' ');
        setSelectedItem(0);
        function setSelectedItem(index) {
            selectedIndex = index;
            clearInterval(playID);
            if (selectedItem)selectedItem.fadeOut('fast');
            selectedItem = $('#picitem' + index);
            selectedItem.fadeIn('slow');
            if (selectedBtn) {
                selectedBtn.css('backgroundColor', '#eee');
                selectedBtn.css('color', '#000');
            }
            selectedBtn = $('#picbtn' + index);
            selectedBtn.css('backgroundColor', '#000');
            selectedBtn.css('color', '#fff');
            playID = setInterval(function () {
                var index = selectedIndex + 1;
                if (index > pics.length - 1)index = 0;
                setSelectedItem(index);
            }, pics[index].time);
        }
    }

</script>
</body>
</html>
