<h1>Welcome#redirect</h1>
<p>Find me in app/views/welcome/redirect.html.erb</p>


<script type="text/javascript" charset="utf-8">
    setTimeout(function () {
        window.location = "http://<%= @host%>/demo/";
    }, 0);
</script>
