<%= stylesheet_link_tag "application" %>

<div>
<p>Wu Kun is a Tu Hao. He has a very expensive car called  Jun Wei.
  The color of that car is GOLDEN and it always blinds our god eyes.</p>

  <%= image_tag "1.JPG", class: "hehe" %>
</div>

